body{font-family:'Arial, Helvetica, Sans-serif';font-size:11px;color:#000000;line-height:16px;}
h1{font-size:22px;color:#000000;font-weight:normal;}
h2{font-size:18px;color:#000000;font-weight:normal;}
h3{font-size:14px;color:#000000;font-weight:normal;}
h4{font-size:12px;color:#000000;font-weight:normal;}

/*a:link{color: #247cdf;}
a:visted{color: #247cdf;}
a:active{color: #d0731f;}
a:hover{color: #d0731f;}*/