@charset "UTF-8";
body {
	margin: 0px; 
	background-image:url(../images/body-bg.png);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #222b36;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 1);
	}
	

a:link { 
	color: #227bce;
	text-decoration: none;
	}
a:visited { 
	color: #227bce;
	}
a:hover { 
	color: #222b36;
	text-decoration: underline;
	}
a:active { 
	color: #222b36;
	}
	
.header {
	width: 100%;
	background-image: url(../images/header-bg.png);
	height: 76px;	
	overflow: hidden;
}

.controleHeader{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: normal;
	color: inherit;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 1);
	vertical-align: middle;
	position: relative;

	}

.container-head {
	width: 800px;
	height: 25px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: Normal;
	color: inherit;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 1);
	vertical-align: middle;
	position: relative;
	left: 25px;
	
	
	}
	
	.containers {
		padding: 0px 10px 0px 0px;
		margin:5px 5px 10px 0px;
	}
	
.container-body {
	width: 805px;
	background-color: #ffffff;
	border: 1px solid #c5cfd6;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0px 1px 0px rgba(255, 255, 255, 1);
	-moz-box-shadow:    0px 1px 0px rgba(255, 255, 255, 1);
	box-shadow:         0px 1px 0px rgba(255, 255, 255, 1);
	padding: 20px;
	position: relative;
	left: 25px;	
	margin-bottom: 40px;
	}
	
.header-top {
	height: 25px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: normal;
	position: relative;
	left: 25px;	
	padding-top: 25px;
	padding-bottom: 25px;
	width: 500px;
	margin-bottom:15px;
	}

.menu-container {
	position: absolute;
	left: 950px;
	width: 300px;
	padding-top: 13px;
	}

.h1-text {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: normal;
	margin: 0px;
	padding: 0px;
	margin-bottom: 15px;
	}
	
.h2-text {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
	margin: 0px;
	padding: 0px;
	margin-bottom: 10px;
	margin-top: 20px;
	}
	
.menu-link {color: #8d98a3 !important; line-height: 24px;}	
.menu-link:hover {color: #4d98d8 !important;}
.go-top {
	float: right;
	width: 200px;
	font-size: 11px;
	text-align: right;
	font-weight: normal;
	padding-top: 5px;
	}