.icon {
    width: 16px;
    height: 16px;
}

.ico-active, .ico-started {
    background: url('../images/running.png') center !important;
}

.ico-offline, .ico-stopped {
    background: url('../images/stop.png') center !important;
}

.ico-New {
    background: url('../images/New.png') center !important;
}

.ico-warning {
    background: url('../images/warning.png') center !important;
}

.ico-unknown {
    background: url('../images/unknown.png') center !important;
}