
.info-pane-stats {
    /*border-left: 1px dotted #ffffff;*/
    height: 4em;
    overflow: hidden;
}

.info-pane-stats li {
    display: block;
    float: left;
    padding: 1px 15px 1px 0px;
    border-left: 1px dotted #c8d6df;
    height: 4em;
    overflow: hidden;
}

.info-pane-stats .ips-top {
    font-size: 11px;
    font-weight: normal;
    color: #586471;
    display: block;
}

.info-pane-stats .ips-bottom {
    font-size: 14px;
    font-weight: normal;
    color: #222b36;
    display: block;
    padding: 4px 0px 4px 0px;
}